<section>
      <!-- Main page zinger-->
    <div class="container-xl px-4">

        <!-- Page title -->
        <h2 class="mb-0 mt-5">My dashboard lit up before the fin fell off the back of my car. <small style="font-size:10px;">Spoiler alert.</small></small></h2>
        <hr class="mt-2 mb-4" />

        <div class="row">
            <div class="col-7 left-side">

                {{#if JokeList.length}}
                    {{#each JokeList as |joke|}}
                        <div class="card text-white bg-dark mb-3 jokes" style="max-width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{joke.joke}}</h5>
                                <p class="card-text"><small>{{ joke.zinger }}</small></p>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}

            </div>

            <div class="col-5 right-size">

                <div class="row">

                    <!-- Let's make a joke -->
                    <div class="col-12">

                        <div class="card mt-4">
                            <div class="card-body">

                                
                                <form id="create-joke">

                                    <h2>Joke Development Tool Closed</h2>

                                    <div class="mb-3">
                                        <label class="label joke-title">Tell me something funny?</label>
                                        <textarea class="form-control" placeholder="Wife sent me to the store to buy 6 sprites..." id="njoke" name="joke" disabled></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label class="label">Punch Line! <small style="font-size:10px;">Be sure to duck `quack`</small></label>
                                        <textarea class="form-control" placeholder="Imagine her suprise when I came back with 7up" id="ASD" name="ASD" disabled></textarea>
                                    </div>

                                    <input class="btn btn-primary w-100" type="submit" value="CANT DONT IT Haha!" disabled>
                                    
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>




<script src="/js/create-joke.js"></script>
<script src="/js/delete-joke.js"></script>
